*{
    margin: 0px;
    padding: 0px;
}
body{
    /* background: linear-gradient(to right, #1877F2, #cfd8dc); */
    background: linear-gradient(to right, #1877F2, #f5f5dc);
    font-family: 'Roboto', Arial, sans-serif; 
}
.container{
    display: flex;
    /* border: 2px solid black; */
    width: 70%;
    position: relative;
    margin: 120px auto 0 ;
    border-radius: 16px;
    background: white;
    padding: 10px;
    
}
@media (max-width:650px) {
    .container div img{
        display: none;
    }
    .container{
        display: block;
    }
   .loginpage{
     padding: 0px;
   }
}
.container div{
      width: 50%;
}
span{
    cursor: pointer;
}
.container div img{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #1877F2, #d8e8f8);
   border-radius: 16px;
}
.loginpage{
    /* border: 1px solid red; */
    margin: 10px auto ;
}
.loginstyle{
    margin: 20px auto;
    /* border: 2px solid red; */
    padding: 10px;
}
.header h3{
   font-weight: bold;
   margin: 10px;
}
.header p{
    font-size: 12px;
    width: 250%;
    margin: 10px;
}
.username{
    margin: 10px;
}
.username input{
    outline: none;
    border: 1.5px solid gray;
    margin: 5px 0px;
    padding: 5px;
    border-radius: 5px; 
}
.username input:hover{
    border:2px solid #1877F2;
    box-shadow: 0 0 10px #1877F2;
}
.password{
    margin: 10px;
}
.password input{
    outline: none;
    border: 1.5px solid gray;
    margin: 5px 0px;
    padding: 5px;
    border-radius: 5px;
}
.password input:hover{
    border:2px solid #1877F2;
    box-shadow: 0 0 10px #1877F2;
}
.loginlink{
    width: 180px;
    outline: none;
    border: 1px solid  #1877F2;
    color: white;
    background:  #1877F2;
    margin: 5px 10px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.linkbuttoms{
    margin: 10px;
    display: flex;
}
.linkbuttoms .google{
    margin: 10px;
    padding: 5px 8px;
    border-radius: 5px;
    border: 1px solid red;
    color: red;
    background: white;
    cursor: pointer;
}
.google:hover{
    color: white;
    background: black;
    border: black;
}
.linkbuttoms .facebook{
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #1877F2;
    color: #1877F2;
    background: white;
    cursor: pointer;
}
 .facebook:hover {
    color: white;
    background: black;
    border: black;
}
